In [49]:
# List of high schools
high_schools = ["Hernandez High Scholl", "Figueroa High School", "wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High Scholl
Figueroa High School
wilson High School
Wright High School

In [4]:
# List of high schools
high_schools = ["Hernandez High Scholl", "Figueroa High School", "wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High Scholl
Figueroa High School
wilson High School
Wright High School

In [48]:
# A dictionnary of high schools and the type of schools.
high_schools_types = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "type": "Charter"}]
for school in high_schools_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'type': 'Charter'}

In [18]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wrigh High School", "Rodriguez High school", "Johnson High School", "Ford High School", "Thomas High School"]
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wrigh High School
Rodriguez High school
Johnson High School
Ford High School
Thomas High School

In [15]:
# Add the pandas dependency
import pandas as pd

In [21]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10        Wrigh High School
11    Rodriguez High school
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [22]:
# A dictionary of high schools
high_schools_dict = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [50]:
school_df = pd.DataFrame(high_schools_dict)
school_df

ValueError: arrays must all be same length

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School" "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [27]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [41]:
# add the list to a new DataFrame.
schools_df["School ID"] = school_id
# Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [46]:
# Creat a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type': type_of_school}
#print the DataFrame
high_school_dicts_df = pd.DataFrame()
high_school_dicts_df

Empty DataFrame
Columns: []
Index: []